<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Node.js</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Express Starter</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container py-3">
      <h2>Home</h2>
      <section class="">
        <form action="/signup" method="POST">
          <input
            class="form-control mb-3"
            type="email"
            name="email"
            placeholder="Your email"
          />
          <input
            class="form-control mb-3"
            type="password"
            name="password"
            placeholder="Your password"
          />
          <button class="btn btn-primary" type="submit">signup</button>
        </form>
      </section>
    </main>

    <footer class="container py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2022 Express Starter, Inc</p>
    </footer>
  </body>
</html>
