<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Node.js</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/litera/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <div
      class="text-light d-flex w-100 h-100 p-5 mx-auto flex-column"
      style="
        background: url('https://raw.githubusercontent.com/StartBootstrap/startbootstrap-creative/master/src/assets/img/bg-masthead.jpg');
      "
    >
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Express Starter</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Login</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Awesome Express Starter</h1>
        <p class="lead">Definitely should signup. It's an amazing product.</p>
        <form action="/signup" method="POST">
          <input
            class="form-control mb-3"
            type="email"
            name="email"
            placeholder="Your email"
          />
          <input
            class="form-control mb-3"
            type="password"
            name="password"
            placeholder="Your password"
          />
          <button class="btn btn-primary" type="submit">signup</button>
          <a
            href="#"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            >Learn more</a
          >
        </form>
      </main>

      <footer class="mt-auto text-white-50">
        <p>
          Cover template for
          <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>,
          by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
